@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    font-family: "Roboto";
    font-size: 100%;
    background: #ffffff;
    height: 100%;
}

/*Шапка*/

.logo {
    width: 360px;
    height: 120px;
    margin: 16px auto;
}
.logo_mob {
    display: none;
}
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 80px;
}

ul li {
    flex-shrink: 0;
}

ul li a {
    transition: 0.5s ease;
}

ul:hover li a {
    color: #4A1C79;
}

ul:hover li a:not(:hover) {
    color: #000000;
    opacity: 0.3;
    filter: blur(0.5px);
}
.header_burger {
    display: none;
}
nav li {
    display: inline;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin: auto 210px;
}

nav li {
    display: inline;
}

/*Заголовок*/

.title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main_photo {
    width: 100%;
    position: absolute;
    display: flex;
    height: 648px;
}

.main_photo_mob {
    display: none;
}

.title_text {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 32px;
    position: relative;
    margin-top: 211px;
}
.title_text1_mob {
    display: none;
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}
.button {
    display: inline-block;
    cursor: pointer;
    margin-top: 112px;
    width: 242px;
    height: 76px;
    border-radius: 100px;
    background: #9D81BA;
    border-style: none;
    position: relative;
    transition: 0.5s ease;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;

}

.button:hover {
    transition: 0.5s ease;
    background: #4A1C79;
}

.title_text1 {
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.title_text2 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}

/*О нас*/
#about-us {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}
.about_us_title {
    color: #000;
font-size: 32px;
font-weight: 600;
margin: auto;
}
.rectangle {
    margin: 48px auto auto 160px;
}
.about_us_description {
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 24px;
    margin: 4px auto auto 300px;
}
.about_us_text {
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.about_us_text1, .ways {
    color: #000;
font-size: 1.2vw;
font-weight: 400;
}
.ways {
    margin-left: 32px;
}
.word {
    color:#4A1C79;
}
.about_us_photos {

    margin: 56px 0 0 0;
    display: flex;
    width: 100%;
    overflow: clip;
    justify-content: center;
    gap: 16px;
}
.photo1, .photo2, .photo3 {
    width: 30%;
}

/*Тренеры*/
.trainers {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.trainers_title {
    white-space: nowrap;
    margin: 64px auto 64px 180px;
    color: #000;
font-size: 32px;
font-weight: 600;
}

/* унификация элементов под единый класс */
.trainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 72px;
    width: fit-content;
}
.all-trainers {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

.trainer_photo, .trainer_block {
    object-fit: cover;
    width: 100%;
    max-width: 550px;
}

.trainer_title_and_text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 48px auto auto 32px;
}
.trainer_title, .trainer_text2 {
    color: #fff;
}
.trainer_block {
    background-color: #9D81BA;
}
.trainer1_text_title {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
}

.trainer1_desc, .trainer1_desc2 {
    color: #FFF;
font-size: 20px;
font-weight: 300;
}
.trainer1_desc {
    margin: 36px auto 36px 0;
}
.trainer1_desc2 {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-left: 20px;
}
.desc1_desc2 {
    margin: auto auto auto 32px;
} 

/*Услуги и цены*/

#prices {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}
.prices_title {
    color: #000;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 64px;
}
.prices_block {
    border: 3px solid #D9D9D9;
    width: 1008px;
height: 622px;
display: flex;
flex-direction: column;
}
.block_title {
    display: flex;
    align-items: center;
}
.block_icon {
    width: 84px;
height: 84px;
}
.poledance_title {
    color: #4A1C79;
font-size: 28px;
font-weight: 700;  
}
.ruble {
    color: #000;
font-size: 40px;
font-weight: 400;
margin-right: 48px;
}
.icon_and_title {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 32px auto 32px 48px;
}
.line {
    width: 900px;
background: #D9D9D9;
margin: 0px auto;
padding: 1px;
}

.exercises_and_prices {
    display: flex;
}
.exercises {
    margin: 48px auto auto 52px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.exercise_name {
color: #000;
font-size: 20px;
font-weight: 400;
}
.price_exercise {
    color: #4A1C79;
font-size: 28px;
font-weight: 600;
margin-right: 48px;
}
.prices_exercise {
    margin: 48px 0px auto auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: right;
}
.abonement {
    margin: 48px auto;
    color: #4A1C79;
font-size: 20px;
font-weight: 600;
}
.special {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1158px;
height: 376px;
background: #9D81BA;
margin-top: 48px;
}
.special_title {
    color: #FFF;
font-size: 28px;
font-weight: 600;
margin: 32px auto;
}
.circle_and_rectangles {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 40px;
}
.mini_rectangle {
    width: 64px;
height: 6px;
background: rgba(217, 217, 217, 0.46);
}
.circle {
    width: 16px;
height: 16px;
border-radius: 50%;
background: rgba(217, 217, 217, 0.46);
}
.cards {
    display: flex;
    align-items: center;
    gap: 56px;
}
.card, .card2 {
    background-color: #fff;
    width: 302px;
height: 182px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.card_title, .card2_title, .card3_title {
    color: #000;
font-size: 18px;
font-weight: 500;
text-align: center;
}
.card_title {
    height: 60px;
}
.rectangle_price, .rectangle2_price {
background: #4A1C79;
display: flex;
align-items: center;
}
.rectangle_price {
    width: 100px;
height: 40px;
}
.rectangle2_price {
    width: 150px;
    height: 40px;
    margin-top: 16px;
}
.card_price {
    color: #FFF;
font-size: 16px;
font-weight: 400;
margin: auto;
}

/*Контакты*/
.contacts {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts_title {
    color: #000;
font-size: 32px;
font-weight: 600;
margin-bottom: 48px;
}
.address, .phone {
    display: flex;
    align-items: center;
    gap: 16px;
}
.address_title, .phone_title {
    color: #000;
font-size: 18px;
font-weight: 400;
}
.map_icon {
    width: 14px;
height: 22px;
}
.phone_icon {
    width: 20px;
height: 20px;
}
.address {
    margin: 48px auto 24px auto;
}

/*Футер*/
footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 318px;
    background: #9D81BA;
    margin-top: 56px;
    gap: 166px;
}
.logo_footer {
    width: 489px;
height: 136px;
margin-left: 112px;
}
.footer_title {
    color: #FFF;
font-size: 24px;
font-weight: 300;
}
.line1_footer, .line2_footer {
height: 1px;
background: #FFF;
margin: 16px auto;
}
.nav-links_footer {
    list-style: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
font-size: 16px;
font-weight: 400;
}
.line1_footer {
    width: 160px;
}
.line2_footer {
    width: 260px;
}
.menu_and_media {
    display: flex;
    gap: 186px;
}
.media_desc {
    color: #FFF;
font-size: 16px;
font-weight: 400;
}

.icons_media {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-top: 16px;
}
.whatsapp, .vk {
    width: 42px;
    height: 42px;
}
.telegram {
    width: 48px;
height: 48px;
}
.a {
    color: #FFF;
}
ul:hover li .a:not(:hover) {
    color: #ffffff;
    opacity: 0.3;
    filter: blur(0.5px);
}
ul li .a {
    transition: 0.5s ease;
}
ul:hover li a {
    color: #000000;
}